{%extends 'polls/base.html' %}

{%block title %} Choix alimentaires-Partie 1 {%endblock title %}

{% block content %}
{% if request.user.is_authenticated %}


	{% if send %}
		<p>Enregistré!</p>
		<p style="color:#000F93; font-weight:bold">Dans la suite du test, vous allez devoir faire des choix d'aliments. A chaque fois, choisissez le plus honnêtement possible l'aliment que vous aimeriez le plus manger maintenant.
		Essayez de répondre le plus honnêtement possible, vous n'êtes pas obligés de remplir le questionnaire jusqu'au bout. Si vous souhaitez être pris en compte pour le concours, vous êtes cependant tenus de répondre
		au minimum à 75% des questions.
		</p>
		<a href="/polls/test2/01">Suite du test</a>

	{%elif duree %}
		<p>Avant de commencer, répondez à quelques 
		questions décrivant votre ressenti actuel.
		Pour répondre, évaluez votre état en déplaçant le curseur sur l’échelle affichée sous la question.</p>
		<form action="{% url "test_nutri" %}" method="post">
		
			{% csrf_token %}

			{{ form.as_p }}

			<input type="submit" value="OK" />

		</form>
	{% else %}
		<p>Vous avez effectué le test il y a moins de 4 heures, merci de revenir plus tard !</p>
		<a href="/polls">Retour à l'accueil</a>

	{% endif %}
{% else %}
 
	<P> Veuillez vous identifier ou créer un compte ! </p>
							<div class="row features">
								<section class="4u 12u(narrower) feature">
									<ul class="actions">
										<li><a href="/polls/inscription" class="button">S'inscrire</a></li>
									</ul>
								</section>
								<section class="4u 12u(narrower) feature">
									<ul class="actions">
										<li><a href="/polls/connexion" class="button">Se connecter</a></li>
									</ul>
								</section>
								<!--beaucoup de suppression ici -->
							</div>

{%endif%}

{% endblock content %}